.wp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;            
}
.page{
    /*font-size: 72px;
    line-height: 200px;
    text-align: center;*/
}
.page1{
    background-color: #116ad9;
}
.page2{
    background-color: #FFF;
}
.page3{
    background-color: #e2ecf8;
}
.page4{
    background-color: #c8daf4;
}

/* 箭头 */
@-webkit-keyframes start {
    0%,30% {
        opacity: 0.2;
        -webkit-transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: translate(0, -5px);
    }
}
@keyframes start {
    0%,30% {
        opacity: 0.2;
        transform: translate(0,10px);
    }
    60% {
        opacity: 1;
        transform: translate(0,0);
    }
    100% {
        opacity: 0.2;
        transform: translate(0, -5px);
    }
}
.start{
    position: fixed;
    left: 50%;
    margin-left: -17px;
    top: 95%;
    margin-top: -34px;
    width: 34px;
    height: 34px;
}
.start b{
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -9px;
    width: 19px;
    height: 12px;
    background: url(../images/icon/arrow.png);
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}
/*横屏*/
.landscape {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffd40a;
    font-size: 22px;
    background: #32373b;
}
.landscape img {
    margin-top: 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: landscape 1.5s infinite;
    animation: landscape 1.5s infinite;
}
@-webkit-keyframes landscape {
    0% {
        -webkit-transform: rotate(-90deg);
    }
    30% {
        -webkit-transform: rotate(0deg);
    }
    70% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-90deg);
    }
}
@keyframes landscape {
    0% {
        transform: rotate(-90deg);
    }
    30% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

/*样式*/
.header{
    margin-top:0.2rem;
    text-align:center;
}
.logo{
    width: 2.56rem;
    height: 0.96rem;
    display: inline-block;
}

.room-pig{
    display:inline-block;
    width:6rem;
    height: 8.6rem;
}
.text-center{
    text-align:center;
}
.first-img{
    margin-top:0.38rem;
}
.page1{
    color: #fff;
}
.first-name{
    font-size: 0.6rem;
}
.first-Ename{
    font-size: 0.6rem;
    font-weight: bold;
}
.first-tit{
    font-size:0.66rem;
    margin-top:0.3rem;
}
.btn{
    padding: 0.2rem 0.4rem 0.3rem;
    border-radius: 5px;
    background-color: #000;
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-top:0.3rem;
    transition: 1s;
    text-decoration: none;
    font-size:0.6rem;
}




















